<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BAT_mini_color</key>
	<string>monochrome</string>
	<key>Battery_barChart_position</key>
	<integer>4</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>2</integer>
	<key>Battery_battery_details_mode</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_position</key>
	<integer>3</integer>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>0</integer>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_widget</key>
	<string></string>
	<key>Bluetooth_label_position</key>
	<integer>1</integer>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>Bluetooth_stack_position</key>
	<integer>0</integer>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<true/>
	<key>CPU_line_chart_color</key>
	<string>red</string>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>CPU_line_chart_label</key>
	<false/>
	<key>CPU_line_chart_value</key>
	<false/>
	<key>CPU_line_chart_valueColor</key>
	<false/>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>3</integer>
	<key>CPU_updateTopInterval</key>
	<integer>1</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_state</key>
	<false/>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>4</integer>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_color</key>
	<string>yellow</string>
	<key>Disk_memory_orderReversed</key>
	<false/>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>7</integer>
	<key>Disk_notifications_utilization_state</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>5</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_removable</key>
	<false/>
	<key>Disk_speed_position</key>
	<integer>6</integer>
	<key>Disk_text_position</key>
	<integer>2</integer>
	<key>Disk_updateInterval</key>
	<integer>5</integer>
	<key>Disk_widget</key>
	<string>memory</string>
	<key>GPU_barChart_position</key>
	<integer>1</integer>
	<key>GPU_bar_chart_color</key>
	<string>secondYellow</string>
	<key>GPU_bar_chart_label</key>
	<false/>
	<key>GPU_gpu</key>
	<string>automatic</string>
	<key>GPU_label_position</key>
	<integer>3</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_color</key>
	<string>secondYellow</string>
	<key>GPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>GPU_mini_position</key>
	<integer>4</integer>
	<key>GPU_oneView</key>
	<true/>
	<key>GPU_position</key>
	<integer>2</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>2</integer>
	<key>GPU_updateInterval</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>line_chart</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va6gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAIgBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABAAAAAEB
	AABhbWluCQAAAAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAALAAAAAgAAAAE
	AwAAAEgAAAAAAAAIAAAABAMAADG0BAAAAAAACAAAAAQDAABktAQAAAAAAAwAAAABBgAA
	VAAAAGQAAAB0AAAACAAAAAAEAABBx7Ud86UvOxgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkGKT5wAAAAgAAAAA
	BAAAQce2iPKAAAAkAAAAAQEAADAzNzdBRjNCLTcyRjAtNEZCRC1BMzk1LTY1MTBCRDU3
	OEJERRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAA
	AP7///8BAAAAAAAAABEAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAAAAAQEAAAqAAAAAAA
	AABAEAAAmAAAAAAAAAACIAAAfAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA/AAAAAAAAAAR
	IAAAMAEAAAAAAAASIAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAA
	yAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAAAAAB0AAAyAAA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>457</real>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>600 436 728 480 0 0 1920 1205 </string>
	<key>Network_base</key>
	<string>byte</string>
	<key>Network_connectivityMode</key>
	<string>icmp</string>
	<key>Network_emojiCC</key>
	<false/>
	<key>Network_label_position</key>
	<integer>3</integer>
	<key>Network_networkChart_position</key>
	<integer>4</integer>
	<key>Network_oneView</key>
	<false/>
	<key>Network_position</key>
	<integer>4</integer>
	<key>Network_processes</key>
	<integer>8</integer>
	<key>Network_publicIP</key>
	<false/>
	<key>Network_publicIPRefreshInterval</key>
	<string>hour</string>
	<key>Network_reader</key>
	<string>interface</string>
	<key>Network_speed_displayValue</key>
	<string>oi</string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_iconAlignment</key>
	<string>left</string>
	<key>Network_speed_iconColor</key>
	<string>default</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_speed_valueAlignment</key>
	<string>center</string>
	<key>Network_speed_valueColor</key>
	<string>none</string>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_text_position</key>
	<integer>1</integer>
	<key>Network_updateICMPInterval</key>
	<integer>1</integer>
	<key>Network_usageReset</key>
	<string>Never</string>
	<key>Network_widget</key>
	<string>speed</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>1</integer>
	<key>Network_widgetActivationThresholdSize</key>
	<string>MB</string>
	<key>Network_widgetActivationThresholdState</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>3</integer>
	<key>RAM_combinedProcesses</key>
	<false/>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_color</key>
	<string>green</string>
	<key>RAM_line_chart_historyCount</key>
	<integer>30</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_position</key>
	<integer>1</integer>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_updateInterval</key>
	<integer>3</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>Sensor_mini_alignment</key>
	<string>center</string>
	<key>Sensor_mini_color</key>
	<string>monochrome</string>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_fanValue</key>
	<string>percentage</string>
	<key>Sensors_fansSync</key>
	<false/>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_position</key>
	<integer>5</integer>
	<key>Sensors_sensor</key>
	<string>PSTR</string>
	<key>Sensors_stack_position</key>
	<integer>1</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_PPBR</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Silent</string>
	<key>updater_check_ts</key>
	<integer>1775727444</integer>
	<key>version</key>
	<string>2.12.8</string>
</dict>
</plist>
